<!DOCTYPE html>
<html lang="en">
    <%-include ('partials/head') %>
    <body>
        <%-include ('partials/header') %>
        <ul>
            <a href="/blogPost"><i id='backButton' class="fa fa-arrow-left"></i></a>
            <li class='postItem' data-id='<%=blogPost._id%>'>
                <div class='title'><h4><%= blogPost.title %></h4></div>
                <div class='body'><%= blogPost.body %></div>
                <div class='gitHub'><i class="<% if(blogPost.gitHub) { %>fa-brands fa-github <% } %>"></i>
                    <a href="<% if   (blogPost.gitHub) { %> <%= blogPost.gitHub %> <% } %>"><%= blogPost.gitHub %></a>
                </div>
                <div class='date'><%= blogPost.date %></div>
                <div class='dueDate'><% if(blogPost.dueDate) { %> Due <%= blogPost.dueDate %><% } %></div>
                <div class="mood">Mood: <%= blogPost.mood %></div>
                <%- include('partials/actions') %>
                    <div class="row">
                    <div class="col-6">
                        <h4 id="commentCount"><%= comments.length %> comments </h4>
                    </div>
                    <div id="comment">
                        <% for (let i=0; i < comments.length; i++) { %>
                        <div data-id="<%=comments[i]._id%>">
                            <h6><%= comments[i].userId %> said: </h6>
                                <p class="body"><%= comments[i].body %></p>
                                <%-include ('partials/commentActions', {comment: comments[i]}) %>
                       <% } %>
                        </div>
                        <div id="createComment" class="row">
                            <form action="/comment/createComment/<%=blogPost._id%>" method="POST">
                                

                                <textarea id="newCommentBody" name="commentBody" class="body" value=""></textarea>
                                <div class="row">
                                <input type="submit" class="button button-18" value="Comment++">
                                </div>
                            </form>
                            </div>

                </div>
                    
            </li>
        </ul>
    </body>
    <%- include('partials/footer.ejs') %>
</html>
