<!DOCTYPE html>
<html lang="en">
    <%-include ('partials/head') %>
    <body>
        <%- include ('partials/header') %>
        <h1>Journal</h1>
        <a id='newPost' href="/blogPost/createBlogPost"><i class="fa-solid fa-circle-plus"></i> Create New Post</a>

        <ul>
            <h2>You have logged <%= postCount %> journal entries.</h2>
            <% BlogPost.forEach( blogPost => { %>
                <li class='postItem' data-id='<%=blogPost._id%>'>
                    <div class='title'> <h4><a href="/blogPost/display/<%=blogPost._id%>"><%= blogPost.title %></a></h4></div> 
                    <div class='body'> <a href="/blogPost/display/<%=blogPost._id%>"><%= blogPost.body %></a></div>
                    <div class='gitHub'><i class="<% if(blogPost.gitHub) { %>fa-brands fa-github <% } %>"></i> <a href="<% if(blogPost.gitHub) { %> <%= blogPost.gitHub %> <% } %>"><%= blogPost.gitHub %></a></div>
                    <div class='date'><%= blogPost.date %></div>
                    <div class='dueDate'><% if(blogPost.dueDate) { %> Due <%= blogPost.dueDate %> <% } %></div>
                    <div class="mood">Mood: <%= blogPost.mood %></div>
                    <%-include ('partials/actions', {blogPost: blogPost}) %>
                </li> 
            <% }) %>
        </ul>
        <script src="/js/localdatetime.js"></script>
        <script src="/js/main.js"></script>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    </body>
</html>
